<a href="https://colab.research.google.com/github/KiLl-ToXiC333/DS-CHE-/blob/main/210068_Aditya_Vikram_Jain/Assignment%203/DS_CHE_A3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DS-CHE_A3

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [ ]:
df= pd.read_csv('superheated_vapor_properties.csv')

In [ ]:
df

,Pressure,Property,Liq_Sat,Vap_Sat,75,100,125,150,175,200,...,425,450,475,500,525,550,575,600,625,650
0,1.0,V,1.0000,129200.0000,160640.0000,172180.0000,183720.0000,195270.0000,206810.0000,218350.0000,...,NaN,333730.0000,NaN,356810.0000,NaN,379880.0000,NaN,402960.0000,NaN,426040.0000
1,1.0,U,29.3340,2385.2000,2480.8000,2516.4000,2552.3000,2588.5000,2624.9000,2661.7000,...,NaN,3049.9000,NaN,3132.4000,NaN,3216.7000,NaN,3302.6000,NaN,3390.3000
2,1.0,H,29.3350,2514.4000,2641.5000,2688.6000,2736.0000,2783.7000,2831.7000,2880.1000,...,NaN,3383.6000,NaN,3489.2000,NaN,3596.5000,NaN,3705.6000,NaN,3816.4000
3,1.0,S,0.1060,8.9767,9.3828,9.5136,9.6365,9.7527,9.8629,9.9679,...,NaN,10.8200,NaN,10.9612,NaN,11.0957,NaN,11.2243,NaN,11.3476
4,10.0,V,1.0100,14670.0000,16030.0000,17190.0000,18350.0000,19510.0000,20660.0000,21820.0000,...,NaN,33370.0000,NaN,35670.0000,NaN,37980.0000,NaN,40290.0000,NaN,42600.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539,11200.0,S,3.4440,5.5476,NaN,NaN,NaN,NaN,NaN,NaN,...,6.2491,6.3515,6.4452,6.5324,6.6147,6.6929,6.7679,6.8401,6.9099,6.9777
540,11400.0,V,1.5040,15.2840,NaN,NaN,NaN,NaN,NaN,NaN,...,24.1040,25.5990,27.0100,28.3590,29.6610,30.9250,32.1600,33.3700,34.5600,35.7330
541,11400.0,U,1450.0000,2527.2000,NaN,NaN,NaN,NaN,NaN,NaN,...,2873.1000,2929.4000,2982.6000,3033.9000,3083.9000,3133.1000,3181.9000,3230.4000,3278.8000,3327.2000
542,11400.0,H,1467.2000,2701.5000,NaN,NaN,NaN,NaN,NaN,NaN,...,3147.9000,3221.2000,3290.5000,3357.2000,3422.1000,3485.7000,3548.5000,3610.8000,3672.8000,3734.6000
543,11400.0,S,3.4575,5.5357,NaN,NaN,NaN,NaN,NaN,NaN,...,6.2367,6.3399,6.4341,6.5218,6.6043,6.6828,6.7580,6.8304,6.9004,6.9683

In [ ]:
df1=df.loc[(df['Property']=='V')&(df['Pressure']<=300)]['Liq_Sat'][:-8]

In [ ]:
df1

0     1.000
4     1.010
8     1.017
12    1.022
16    1.027
20    1.030
24    1.037
28    1.043
32    1.044
Name: Liq_Sat, dtype: float64

In [ ]:
df2=df.loc[(df['Property']=='V')&((df['Pressure']<=1500)&(df['Pressure']>=300))]['Liq_Sat'][:-19]

In [ ]:
df2

64     1.073
68     1.076
72     1.079
76     1.081
80     1.084
84     1.086
88     1.088
92     1.091
96     1.093
100    1.095
104    1.097
108    1.099
112    1.101
116    1.103
120    1.105
124    1.106
128    1.108
132    1.110
136    1.112
140    1.113
Name: Liq_Sat, dtype: float64

In [ ]:
df3=df.loc[(df['Property']=='V')&(df['Pressure']>=1500)]['Liq_Sat'][:-40]

In [ ]:
df3

216    1.154
220    1.156
224    1.159
228    1.161
232    1.163
236    1.166
240    1.168
244    1.170
248    1.172
252    1.174
256    1.177
260    1.181
264    1.185
268    1.189
272    1.193
276    1.197
280    1.201
284    1.205
288    1.209
292    1.213
296    1.216
300    1.220
304    1.224
308    1.227
312    1.231
316    1.235
320    1.238
324    1.242
328    1.245
332    1.249
336    1.252
340    1.256
344    1.259
348    1.262
352    1.266
356    1.269
360    1.272
364    1.276
368    1.279
372    1.282
376    1.286
380    1.289
Name: Liq_Sat, dtype: float64

In [ ]:
pressure_train1=list(df.loc[(df['Property']=='V')&(df['Pressure']<=300)]['Pressure'])[:-8]

In [ ]:
pressure_train1=np.array(pressure_train1)

In [ ]:
volume_train=list(df1)

In [ ]:
volume_train=np.array(volume_train)

In [ ]:
model = linear_model.LinearRegression()

In [ ]:
pressure_train1= pressure_train1.reshape(-1,1)

In [ ]:
volume_train=volume_train.reshape(-1,1)

In [ ]:
model.fit(pressure_train1,volume_train)

LinearRegression()

In [ ]:
print("Weights: ",model.coef_)

Weights:  [[0.00038663]]

In [ ]:
print("Intercepts: ",model.intercept_)

Intercepts:  [1.00719828]

In [ ]:
pressure_test1=list(df.loc[(df['Property']=='V')&(df['Pressure']<=300)]['Pressure'])[-9:]

In [ ]:
pressure_test1=np.array(pressure_test1)

In [ ]:
pressure_test1=pressure_test1.reshape(-1,1)

In [ ]:
volume_pred1=model.predict(pressure_test1)

In [ ]:
r2_score(volume_train,volume_pred1)

-17.26666272414709

In [ ]:
pressure_train2=list(df.loc[(df['Property']=='V')&((df['Pressure']<=1500)&(df['Pressure']>=300))]['Pressure'])[:-19]

In [ ]:
pressure_train2=np.array(pressure_train2)

In [ ]:
volume_train=list(df2)

In [ ]:
pressure_train2= pressure_train2.reshape(-1,1)

In [ ]:
volume_train=np.array(volume_train)

In [ ]:
volume_train=volume_train.reshape(-1,1)

In [ ]:
model.fit(pressure_train2,volume_train)

LinearRegression()

In [ ]:
print("Weights: ",model.coef_)

Weights:  [[8.34887218e-05]]

In [ ]:
print("Intercepts: ",model.intercept_)

Intercepts:  [1.05012481]

In [ ]:
pressure_test2=list(df.loc[(df['Property']=='V')&(df['Pressure']>=300)&(df['Pressure']<=1500)]['Pressure'])[-20:]

In [ ]:
pressure_test2=np.array(pressure_test2)

In [ ]:
pressure_test2= pressure_test2.reshape(-1,1)

In [ ]:
volume_pred2=model.predict(pressure_test2)

In [ ]:
r2_score(volume_train,volume_pred2)

-13.52822205270276

In [ ]:
pressure_train3=list(df.loc[(df['Property']=='V')&((df['Pressure']>=1500))]['Pressure'])[:-40]

In [ ]:
pressure_train3=np.array(pressure_train3)

In [ ]:
pressure_train3= pressure_train3.reshape(-1,1)

In [ ]:
volume_train=list(df3)

In [ ]:
volume_train=np.array(volume_train)

In [ ]:
volume_train=volume_train.reshape(-1,1)

In [ ]:
model.fit(pressure_train3,volume_train)

LinearRegression()

In [ ]:
print("Weights: ",model.coef_)

Weights:  [[3.73717949e-05]]

In [ ]:
print("Intercepts: ",model.intercept_)

Intercepts:  [1.10185478]

In [ ]:
pressure_test3=list(df.loc[(df['Property']=='V')&((df['Pressure']>=1500))]['Pressure'])[-42:]

In [ ]:
pressure_test3=np.array(pressure_test3)

In [ ]:
pressure_test3= pressure_test3.reshape(-1,1)

In [ ]:
volume_pred3=model.predict(pressure_test3)

In [ ]:
r2_score(volume_train,volume_pred3)

-16.285576758114317